body{

    display:flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
}
.top{
 color: white;
 background: #1f2937;
 height: 450px;
}



.header{
    display: flex;
    justify-content: space-around;
    
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    padding: 13px;
    font-weight: bold;
    margin-left: -100px;
}

ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

a{
    color: #E5E7EB;
    text-decoration: none;
}
.title{
 font-size: 48px;
font-weight: 800;
}

.description{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.bouton-top{
    background: #3882F6;
    padding: 8px 28px;
    border-radius: 8px;
}


.topdescription{
    max-width: 400px;
    margin: 60px;
    margin-left: -30px;
    
}

.imageD{
    margin: 60px;
    
}

.info-block{
    height:450px;
}


.info-title{
    font-weight: 800;
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin: 40px;
}

.information{
    display:flex;
   justify-content: center;
    gap:35px;
    
}
.info{
    max-width: 150px;
    
}

.interview{
    height:450px;
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.text-interview{
    font-size: 36px;
    color: #1f2937;
    max-width: 900px;
    display: flex;
    justify-content: center;
}

.name{
display: flex;
margin-left:650px;
font-size:25px;

}


.newsletter{
    height:450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container{
    background: #3882F6;
    color: white;
    width: 1000px;
    padding: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    
}
.headerN {
    font-size:20px ;
    font-weight: bold;
    
}

.bouton-newsletter{
    padding: 8px 35px;
    border:3px solid white;
    border-radius: 8px;

}




footer{
    height: 90px;
    background:#1F2937 ;
    color: #F9FAF8;
    display:flex;
    justify-content: center;
    align-items: center;

}